*{
  text-align: center;
  justify-content: space-around;
  background-color: rgb(134, 233, 228);
  font-size: 20px;
}

#title{
  font-size: 35px;
}

button{
  background-color: white;
}

#top{
  border-bottom: 3px solid black;
  padding: 10px 40px 0 40px;
}

ul{
  list-style: none;
}

#clear{
  border-radius: 10px;
}


